.far fa-circle{
    border:100px;
}
table{
    margin:5% auto;
}
.y{
    border-right:1px solid black;
    border-left: 1px solid black;
}

.x{
    border-top:1px solid black;
    border-bottom:1px solid black;
}
td{
    width:40px;
    
}