.far fa-circle{
    border:100px;
}
table{
    margin:auto auto;
    width: 200px;
}
.
width: 200px;y{
    border-right:10px solid black;
    border-left: 10px solid black;
}


width: 200px;.
width: 200px;x{
    border-top:10px solid black;
    border-bottom:10px solid black;
}
td{
    width:40px;
    height:40px;
}
