.far fa-circle{
    border:100px;
}
table{
    margin:auto auto;
}
.y{
    border-right:px solid black;
    border-left: 2px solid black;
}

.x{
    border-top:px solid black;
    border-bottom:px solid black;
}
td{
    width:40px;
    height:40px;
}
