body{
    background-color:#cae4db;
}
table{
    margin:auto auto;
    background-color:#cdac81;
    box-shadow: ;
}
.y{
    border-right:5px solid #00303f;
    border-left: 5px solid #00303f;
}

.x{
    border-top:5px solid #00303f;
    border-bottom:5px solid #00303f;
}
td{
    width:40px;
    height:40px;
}
