body{
    background-color:#cae4db;
}
.player-1, .player-2{
    font-family:'Audiowide', cursive;
    color:#00303f;
    display:inline-block;
    margin:20px;
    
}
.player-2{
    
}
table{
    margin:7% auto;
    text-align: center;
}
.y{
    border-right:9px solid #00303f;
    border-left: 9px solid #00303f;
}

.x{
    border-top:9px solid #00303f;
    border-bottom:9px solid #00303f;
}
td{
    width:150px;
    height:150px;
}
