body{
    background-color:#cae4db;
}
.game-title h1{
    font-family:'Audiowide', cursive;
    color:#00303f;
    display:inline;
}
table{
    margin:7% auto;
    text-align: center;
}
.y{
    border-right:9px solid #00303f;
    border-left: 5px solid #00303f;
}

.x{
    border-top:5px solid #00303f;
    border-bottom:5px solid #00303f;
}
td{
    width:150px;
    height:150px;
}
