body{
    background-color:#cae4db;
}
.title{
    text-align:center;
    font-size:70px;
    margin:auto 30% auto 30%;
    font-family:'Audiowide', cursive;
    color:#00303f;
}
.start{
    background-color:#cdac81;
    width:350px;
    height:100px;
    margin:5% 30% auto 30%;
    position:relative;
    left:120px;
    border-radius: 50px;
    text-align: center;
    font-size: 90px;
    border:solid 20px #00303f;
    

}
.play{
    color:#00303f;
    font-family:'Audiowide', cursive;
    position: relative;
    bottom: 12px;;
}